#Portfolio {
    display: block;
    padding: 10px 0;
    height: auto;
    font-family: 'Roboto', sans-serif;
    scroll-margin-top: 100px;
    background: #f2f2f2;
}

.wrapper {
    padding: 0 20px;
}

#title-port {
    text-align: center;
}

#title-port h3 {
    font-size: 2em;
    font-weight: 700;
}

#title-port p{
    padding: 10px;
    color: #777;
}

.inside-wrap {
    margin: 10px;
}



#grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 2%;
    padding-top: 15px;
}

.item {
    min-height: 120px;
    overflow: auto;
    box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.item img {
    /* overflow: hidden; */
    width: 100%;
    height: 80%;
}

.item .item-desc {
    padding: 12px 16px;
    word-wrap: break-word;
    
}

.item-desc p {
    color: #777;
    word-wrap: break-word;
}

.item a {
    /* transition: all 0.5s ease;
    opacity: 0.5;
    background-color: black; */

    -webkit-filter: brightness(100%);
}

.item .a_hidden {
    display: none;
}

.item a:hover{
    cursor: pointer;
    /* opacity: 1; */
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


@media screen and (max-width: 1024px) {
    #grid-group {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    #grid-group {
        grid-template-columns: auto;
    }

    .item .a_hidden {
        display: inline-block;
        text-decoration: none;
        color: #888;
        transition: all 0.5s ease;
    }

    .item img {
        display: none;
    }

    .item .a_hidden:hover {
        color: #555;
        
    }


}