#Portfolio {
    display: block;
    padding: 10px 0;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 0 20px;
}

#title-port {
    text-align: center;
}

#title-port h3 {
    font-size: 2em;
    font-weight: 700;
}

#title-port p{
    padding: 10px;
    color: #777;
}

.inside-wrap {
    margin: 10px;
}



#grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    padding-top: 15px;
}

.item {
    min-height: 120px;
    overflow: auto;
    box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.item img {
    /* overflow: hidden; */
    width: 100%;
    height: 80%;
}

.item .item-desc {
    padding: 12px 16px;
    word-wrap: break-word;
    
}

.item-desc p {
    color: #777;
    word-wrap: break-word;
}